spring:
  mvc:
    pathmatch:
      matching-strategy: ant_path_matcher
  profiles:
    active: dev
  application:
    name: notice-api

  datasource:
    driver-class-name: org.sqlite.JDBC
    url: jdbc:sqlite:${SQLITE_DB_PATH:./data/notice-api.db}
    hikari:
      maximum-pool-size: 5
      minimum-idle: 1

mybatis:
  configuration:
    map-underscore-to-camel-case: true
  mapper-locations: classpath*:com/bark/mapper/xml/*Mapper.xml


server:
  port: 8080
  tomcat:
    threads:
      max: 1000

logging:
  pattern:
    console: "%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n"

# Spring Security和JWT配置
jwt:
  secret: barkSecretKey
  expiration: 86400 # 1天

#debug: true